<header class="rs-header header">
  <div class="rs-grid-container">
    <div class="rs-row menu">
      <div class="nav-brand-wrapper rs-col rs-col-xs-6 rs-col-md-3">
        <a class="nav-brand logo" href="/"><img src="/images/logo.png" alt="logo"/></a>
      </div>
      <div class="navigation rs-col rs-hidden-xs rs-col-md-13">
        <div class="rs-nav rs-nav-default navigation rs-nav-horizontal">
          <ul>
            <%
              let navigation = _clientConfig.navigation;
              if (_clientConfig.userNavigation.length > 0) {
                navigation = _clientConfig.userNavigation;
              }
            %>
            <% for(let i = 0; i < navigation.length; i++) { %>
            <li role="presentation" class="rs-nav-item rs-nav-item-content">
              <a
                aria-current="page"
                class="rs-nav-item-content active"
                role="button"
                tabindex="0"
                href="<%-navigation[i].url%>"
                ><%-navigation[i].title%><span class="rs-ripple-pond"><span class="rs-ripple"></span></span
              ></a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="user-menu rs-col rs-col-xs-18 rs-col-md-8">
        <div class="rs-nav rs-nav-default user-menu signed-out rs-navbar-right rs-nav-horizontal">
          <ul>
            <li role="presentation" class="rs-nav-item rs-nav-item-content">
              <a class="rs-nav-item-content" role="button" tabindex="0" href="/sign-in"
                >Sign In<span class="rs-ripple-pond"><span class="rs-ripple"></span></span
              ></a>
            </li>
            <li role="presentation" class="rs-nav-item rs-nav-item-content">
              <a class="rs-nav-item-content" role="button" tabindex="0" href="/sign-up"
                >Sign Up<span class="rs-ripple-pond"><span class="rs-ripple"></span></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
