<!DOCTYPE html>
<html lang="<%=language%>">
  <head>
    <title><%=pageTitle%></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" href="/css/lib.css?v=<%=_version%>" />
    <link rel="stylesheet" type="text/css" href="/css/app.css?v=<%=_version%>" />
  </head>
  <body>
    <div id="root">
      <div class="rs-container default-layout print-hidden account-verification-page">
        <%- include('/templates/layouts/header.html', {helpers: helpers}) %>
        <div class="rs-content main-content error-layout"><%-_body %></div>
        <%- include('/templates/layouts/footer.html', {helpers: helpers}) %>
      </div>
    </div>
    <div id="scripts">
      <script type="text/javascript">
        window.app = {
          admin: false,
          config: {},
          routes: {},
        };
      </script>
      <% if(_clientConfigJson) { %>
      <script type="text/javascript">
        window.app.config = <%-_clientConfigJson%>;
      </script>
      <% } %>
      <script src="/js/rsuite.bundle.js?v=<%=_version%>"></script>
      <script src="/js/common.vendor.bundle.js?v=<%=_version%>"></script>
      <script src="/js/app.vendor.bundle.js?v=<%=_version%>"></script>
      <script src="/js/admin~app.bundle.js?v=<%=_version%>"></script>
      <script src="/js/app.bundle.js?v=<%=_version%>"></script>
      <script src="/js/app.js?v=<%=_version%>"></script>
    </div>
  </body>
</html>
