<!DOCTYPE html>
<html lang="<%=language%>">
  <%- include('/templates/layouts/_head.html', {helpers: helpers}) %>
  <body>
    <div id="root">
      <div class="loading">
        <div class="loader"></div>
      </div>
      <div class="rs-container standard-template">
        <%- include('/templates/layouts/_header.html', {helpers: helpers}) %>
        <div class="rs-content main-content error-layout"><%-_body %></div>
        <%- include('/templates/layouts/_footer.html', {helpers: helpers}) %>
      </div>
    </div>
    <%- include('/templates/layouts/_scripts.html', {helpers: helpers}) %>
  </body>
</html>
