<div class="rs-footer footer">
  <div class="rs-grid-container-fluid footer-copyright">
    <div class="rs-row">
      <div class="rs-col">
        <div class="rs-nav rs-nav-default navigation signed-out rs-nav-horizontal">
          <ul>
            <li role="presentation" class="rs-nav-item rs-nav-item-content">
              <a aria-current="page" class="rs-nav-item-content active" role="button" tabindex="0" href="/"
                >Home<span class="rs-ripple-pond"><span class="rs-ripple"></span></span
              ></a>
            </li>
            <li role="presentation" class="rs-nav-item rs-nav-item-content">
              <a class="rs-nav-item-content" role="button" tabindex="0" href="/about"
                >About<span class="rs-ripple-pond"><span class="rs-ripple"></span></span
              ></a>
            </li>
            <li role="presentation" class="rs-nav-item rs-nav-item-content">
              <a class="rs-nav-item-content" role="button" tabindex="0" href="/contact"
                >Contact<span class="rs-ripple-pond"><span class="rs-ripple"></span></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rs-row"><div class="rs-col">© 2019. All rights reserved</div></div>
  </div>
</div>
