<div class="rs-header header">
  <div class="rs-grid-container">
    <div class="rs-row rs-hidden-xs rs-hidden-sm">
      <div class="rs-col-md-6 nav-brand-wrapper">
        <a class="nav-brand logo" href="/"><img src="/images/logo.png" alt="logo"/></a>
      </div>
      <div class="rs-col-md-12">
        <div class="rs-nav rs-nav-default top-menu rs-nav-horizontal">

        </div>
      </div>
      <div class="rs-col-md-6">
        <div class="rs-nav rs-nav-default user-menu rs-navbar-right rs-nav-horizontal">

        </div>
      </div>
    </div>
    <div class="mobile-header rs-visible-xs rs-visible-sm">
      <div class="rs-row">
        <div class="rs-col-xs-4 menu-toggle-wrapper">
          <button type="button" class="rs-btn rs-btn-subtle menu-toggle">
            <i class="rs-icon rs-icon-bars"></i><span class="rs-ripple-pond"><span class="rs-ripple"></span></span>
          </button>
        </div>
        <div class="rs-col-xs-16 nav-brand-wrapper">
          <a class="nav-brand logo" href="/dashboard"><img src="/images/logo.png" alt="logo"/></a>
        </div>
        <div class="rs-col-xs-4 menu-search-toggle-wrapper"></div>
      </div>
      <div class="mobile-menu-wrapper"></div>
    </div>
  </div>
</div>
