<div class="container">
  <div class="row">
    <div class="col col-md-24">
      <div class="page">
        <h1 class="title">
          Error
        </h1>
        <div class="body">
          <%-helpers.translate(error)%>
        </div>
      </div>
    </div>
  </div>
</div>
