@import 'vars';
@import 'fonts';
@import 'helpers';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  &.cke_editable {
    padding: 20px;
  }
}

#root {
  display: flex;
  height: 100%;
  .loading {
    color: #fafafa;
    background-color: #142a3e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
  }
}
.helper-copy-value-input {
  position: absolute;
  left: -10000px;
  width: 0px;
  height: 0px;
  z-index: -100;
}
.error-layout {
  text-align: center;
  main {
    padding: 150px 0 100px;
    min-height: 500px;
  }
  h1 {
    font-size: 32px;
  }
}
.loader {
  border: 6px solid @base-color;
  border-top: 6px solid transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  position: fixed;
  top: 120px;
  left: ~'calc(50vw - 20px)';
  z-index: 10000;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//This one is to set styling for autocomplete inputs
@-webkit-keyframes autofill {
  to {
    border: 0 none;
    border-bottom: 1px solid #ccc;
    background-color: #fafafa;
    color: @base-color;
    font-size: 20px;
  }
}

.rs-notification {
  top: 14px !important;
  right: 20px !important;
  &.rs-notification-notify {
    .rs-notification-notice-content {
      background-color: @B025;
    }
  }
}
.rs-nav-item {
  padding: 25px 5px;
}
.rs-form-group {
  margin-bottom: 15px;
}
.rs-message {
  .rs-message-container {
    padding: 10px 15px;
    text-align: center;
  }
}
.rs-picker-select {
  width: 100%;
}

.main-content {
  padding: 15px 15px 50px;
}
.header {
  border-bottom: 1px solid @B200;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  .rs-dropdown {
    padding: 20px 0 0;
  }
  .rs-dropdown-toggle-caret {
    top: 14px;
  }
  .rs-nav .rs-dropdown > .rs-dropdown-toggle {
    height: 48px;
  }
  .user-menu {
    text-align: right;
  }
}
.header-notification {
  border-radius: 0;
  border-bottom: 1px solid #ead4da;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.footer {
  background-color: #142a3e;
  color: @B025;
  text-align: center;
  padding: 20px 0 30px;
  .rs-nav-item-content {
    color: @B025;
  }
}
@import 'modal';
@import 'responsive';
@import 'print';
