<div class="rs-grid-container">
  <div class="rs-row">
    <div class="rs-col rs-col-md-24">
      <div class="page">
        <h1 class="title">
          <%-pageTitle%>
        </h1>
        <div class="body">
          <% for (let i=0; i < blocks.length; i++) { %>
            <%- include(blocks[i].template.path, {helpers: helpers, props: blocks[i].props}) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
