<div class="alert text-center cookies-alert" role="alert">
  <%-helpers.translate('_we_use_cookies_message')%>
  <button type="button" class="btn btn-primary btn-sm accept-cookies" aria-label="Close">
    <%-helpers.translate('I agree')%>
  </button>
</div>
