<div id="scripts">
  <script type="text/javascript">
    window.app = {
      admin: false,
      config: {},
      routes: {},
    };
  </script>
  <% if(_clientConfig) { %>
    <script type="text/javascript">
      window.app.config = <%- JSON.stringify(_clientConfig) %>;
    </script>
  <% } %>
  <script src="/js/lib.js?v=<%=_version%>"></script>
  <script src="/js/admin~app.bundle.js?v=<%=_version%>"></script>
  <script src="/js/app.bundle.js?v=<%=_version%>"></script>
</div>
