<div>
    <h1><%= module %></h1>
    <% if(typeof data !== 'undefined' && data.items) { %>
        <ul>
            <% for(let i = 0; i < data.items.length; i++) { %>
                <li>
                    <%= data.items[i].name %>
                </li>
            <% } %>
        </ul>
    <% } %>
</div>
