<div class="rs-grid-container">
    <div class="form-page-block">
        <div class="rs-row">
            <div class="rs-col">
                <div class="form-header">
                    <div class="form-page-block-preview">
                        <%- props.form.header %>
                    </div>
                </div>
            </div>
        </div>
        <div class="rs-row">
            <div class="rs-col">
                <div class="form-footer">
                    <div class="form-page-block-preview" style="text-align: center;">
                        <%- props.form.footer %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
