<div class="container-fluid wow zoomIn">
  <div class="row p-0">
    <% for(let i=0; i<images.length; i++) { %>
      <div class="col-6 col-sm-4 col-xl-3 p-0">
        <div>
          <figure class="hover-effect p-0 m-0">
            <img class="img-fluid" src="<%=images[i].url%>" alt="Dish-1" />
            <a class="galleryItem" href="<%=images[i].url%>">
              <div class="overlay">
                <div class="hover-title"><i class="fa fa-plus gallery-icon"></i></div>
              </div>
            </a>
          </figure>
        </div>
      </div>
    <% } %>
  </div>
</div>
