<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form id="sign-in-form">
            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" value="" />
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" value="" />
            </div>
            <a href="/reset-password">Forgot password?</a>
            <button type="submit" class="btn btn-primary pull-right">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
